# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
AddOutputFilterByType DEFLATE image/x-icon 
AddOutputFilterByType DEFLATE image/gif    
AddOutputFilterByType DEFLATE image/png    
AddOutputFilterByType DEFLATE image/jpeg 
</ifmodule>
# END GZIP

# Hbilita el módulo de Reescritura
RewriteEngine On
AddDefaultCharset UTF-8
php_value default_charset UTF-8


# Server Local estrés
RewriteBase /justicia/

# Testing Estresarte
#RewriteBase /amnistia/justicia/

#Servidor Amnisita
#RewriteBase /justicia/



#RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
#RewriteRule ^ /%1.html [R=302,L,NE]


# BEGIN CASO TORRES
# Add trailing slash
RewriteCond %{REQUEST_URI} ^\/justicia\/torres$
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L] 
RewriteRule ^torres/$ fase3/index_torres.php
RewriteRule ^torres/includes/enviar_form.php$ fase3/includes/enviar_form.php
RewriteRule ^torres/([^/]+)$ fase3/$1.php?ref_orig=torres [QSA,L]

# END CASO TORRES



# Permite que los archivos o directorios que existen sean mostrados directamente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]


<ifmodule mod_expires.c>
ExpiresActive On
ExpiresDefault A3600
<filesmatch ".(jpg|JPG|gif|GIF|png|css|ico|woff|js)$">
ExpiresDefault "access plus 2 weeks"
</filesmatch>
</ifmodule>

<ifModule mod_headers.c>
Header set Connection keep-alive
</ifModule>

<IfModule mod_headers.c>
<FilesMatch "\.(js|css|xml|gz)$">
Header append Vary: Accept-Encoding
</FilesMatch>
</IfModule>

<ifModule mod_headers.c>
Header unset ETag
</ifModule>
FileETag None
AddCharset UTF-8 .html
AddCharset UTF-8 .php
